<div class="cube">
    <img class="cube" src="{{imageURL}}">
    <p class="name">{{name}}</p>
    <p><span>Difficulty level:</span> {{difLevel}}</p>
    <a class="btn" href="/details/5c3a6888f78d6638ec8fdad6">Details</a>
</div>